/* ESTILO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 3px;
}

.btn-contacto button {
    padding: 10px 40px;
    font-weight: 600;
    font-size: 18px;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contacto button:hover {
    box-shadow: 0px 0px 8px #00ff0886;
    transform: scale(1.05);
    
}

button {
    transition: .2s;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff0886;
    transform: scale(1.05);
    
}

h2.titulo {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 20px 0px;
}

h2.titulo span {
    color: #00FF08;
}



body {
    background-color: #000;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}



/* ESTILO DO CABEÇALHO DO SITE */

header {
    padding: 40px 8%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}

header .logo a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO MENU MOBILE*/

    .btn-abrir i {
        color: #00FF08;
        font-size: 45px;
        display: none;
    }
    
    .btn-abrir:hover{
        transform: scale(1.05);
        transition: .2s;
    }

    .menu-mobile {
        background-color: #000;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .7s;
        display: none;
    }

    .menu-mobile.abrir-menu{
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 5%;
    }

    .menu-mobile .btn-fechar i {
        color: #00FF08;
        font-size: 30px;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul li a {
        color: #fff;
        font-size: 20px;
        font-weight: 300px;
        padding: 20px 8%;
        display: block;
    }

    .menu-mobile nav ul li a:hover {
        background-image: linear-gradient(to left, #00ff08, transparent );
        color: #000;
    }

    .overlay-menu {
        background-color: #000000c0;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
        
    }



/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 8%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .texto-topo h1 span {
    color: #00FF08;
}

.topo-do-site .texto-topo p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px
    }
}

/* ESTILO ESPECIALIDADES */

section.especialidades {
    padding: 90px 8%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff50;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
}

/* ESTILO SOBRE */

section.sobre {
    padding: 90px 8%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .texto-sobre {
    color: #fff;
}

.sobre .texto-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: start;
}

.sobre .texto-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .texto-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* ESTILO DO PORTIFOLIO */

section.portifolio {
    padding: 90px 8%;
    padding-bottom: 20px;
    box-shadow: 0px 0px 40px 10px #ffffff28;
}

section.portifolio .flex {
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    border-radius: 40px;
    cursor: pointer;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    color: #fff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO FORMULÁRIO DE CONTATO*/

section.formulario {
    padding: 90px 8%;
}

form {
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    padding-bottom: 50px;
    max-height: 200px;
}

.btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPE*/

footer {
    padding: 40px 8%;
    box-shadow: 0px 0px 40px 10px #ffffff28;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    text-decoration: none;
}

footer .line-footer p a:hover {
    text-decoration: underline;
    color: #ffffff80;
}

/* MENSAGEM COOKIES */

.cookies-sms {
    width: 90%;
    background-color: #000;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    box-shadow: 0 0 15px #ffffff50;
    display: none;
}

.cookies-sms.mostrar {
    display: block;
}


.cookies-sms .cookies-texto {
    color: #fff;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 40px;
}

.cookies-sms .cookies-ico {
    margin-right: 30px;
}

.cookies-sms .cookies-ico:hover {
    transform: scale(0.9);
    transition: .2s;
}

.cookies-sms .cookies-btn {
    margin-left: 20px;
    transition: .8s;
}

.cookies-sms .cookies-btn button {
    background-color: #00FF08;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
}

.cookies-sms .cookies-btn button:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 1020px) {

    /*GERAIS*/
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 32px;
        margin: 15px 0px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /*CABEÇALHO*/

    .menu-desktop, .btn-contacto {
        display: none;
    }
    
    /*MENU MOBILE*/

    .btn-abrir i {
        display: block;
    }
    .menu-mobile {
        display: block;

    }

    /*TOPO DO SITE*/

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo img {
        width: 100%;
    }

    /* ESTILO ESPECIALIDADES */

    section.especialidades {
    padding: 20px 8%;
    }

    section.especialidades .flex {
        gap: 40px;
    }

    /*SOBRE*/
    .sobre .texto-sobre h2 {
        font-size: 32px;
        line-height: 30px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /*PORTIFOLIO*/
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    section.portifolio .flex {
        gap: 30px;
    }

    /*RODAPE*/

    footer .flex{
        flex-direction: column;
        gap: 20px;
    }
    footer .line-footer {
        padding: 30px 0;
        text-align: center;
    }
    
    /*MENSAGEM DE COOKIES*/

    .cookies-sms {
        
        height: 490px;
        width: 95%;
        border-radius: 25px;
        box-shadow: 0 0 20px #ffffff50;
        display: flex;
        flex-direction: column;
    }

    .cookies-sms .cookies-texto {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .cookies-sms .cookies-ico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}